{% extends 'base.html.twig' %}

{% block title %}Genre index
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ asset('css/genres.css') }}">
{% endblock %}


{% block body %}
	<h1>Genres</h1>

	<table id="example" class="table table-dark table-striped table-hover" style="width:100%">

		<thead>
			<tr>
				<th>Nom</th>
				<th>Livres</th>
				{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for genre in genres %}
				<tr>
					<td>{{ genre.nom }}</td>
					<td>
						<ul>
							{% for livre in genre.livres %}
								<li>{{livre}}</li>
							{% endfor %}
						</ul>
					</td>
					{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
						<td>
							<a id="voir" href="{{ path('genre_show', {'id': genre.id}) }}">Voir
								<i class="bi bi-eye-fill"></i>
							</a>

							<a id="edit" href="{{ path('genre_edit', {'id': genre.id}) }}">Edit
								<i class="bi bi-pencil-square"></i>
							</a>
						</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>

	{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
		<a href="{{ path('genre_new') }}" class="btn btn-primary">Nouveau Genre</a>
	{% endif %}
{% endblock %}
