{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
	<h1>Livres</h1>

	<table id="example" class="table table-dark table-striped table-hover" style="width:100%">
		<thead>
			<tr>
				<th>Id</th>
				<th>Isbn</th>
				<th>Titre</th>
				<th>Nombre_pages</th>
				<th>Date_de_parution</th>
				<th>Note</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>{{ livre.id }}</td>
					<td>{{ livre.isbn }}</td>
					<td>{{ livre.titre }}</td>
					<td>{{ livre.nombrePages }}</td>
					<td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
					<td>{{ livre.note }}</td>
					<td>
						<a class="m-2" href="{{ path('livre_show', {'id': livre.id}) }}">
							<i class="bi bi-eye-fill"></i>
						</a>
						{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
							<a href="{{ path('livre_edit', {'id': livre.id}) }}">
								<i class="bi bi-pencil-square"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</tbody></table><script>
$(document).ready(function () {
$('#example').DataTable();
});</script>{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
<a class="btn btn-primary" href="{{ path('livre_new') }}">Nouveau Livre</a>{% endif %}{% endblock %}
