{% extends 'base.html.twig' %}

{% block title %}Auteur index
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{ asset('css/writters.css') }}">
{% endblock %}

{% block body %}
	<h1>Auteurs</h1>

	<table id="example" class="table table-dark table-striped table-hover" style="width:100%">

		<thead>
			<tr>
				<th>Nom</th>
				<th>Sexe</th>
				<th>Date_de_naissance</th>
				<th>Nationalite</th>
				{% if app.user and app.user.roles[0]=="ROLE_ADMIN"%}
					<th>actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for auteur in auteurs %}
				<tr>
					<td>{{ auteur.nomPrenom }}</td>
					<td>{{ auteur.sexe }}</td>
					<td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
					<td>{{ auteur.nationalite | country_name }}</td>

					{% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
						<td>
							<a id="voir" href="{{ path('auteur_show', {'id': auteur.id}) }}">
								<i class="bi bi-eye-fill"></i>
							</a>

							<a id="edit"  href="{{ path('auteur_edit', {'id': auteur.id}) }}">
								<i class="bi bi-pencil-square"></i>
							</a>
						</td>

					{% endif %}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>

	{% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
		<a href="{{ path('auteur_new') }}" class="btn btn-primary">Nouveau Auteur</a>
	{% endif %}

{% endblock %}
